.article {
  position: relative;

  height: 100%;
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.section_container {
  gap: 0.5rem;
  padding: 0.5rem;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.section_container::-webkit-scrollbar {
  display: none;
}

.movie_card {
  display: block;
  cursor: pointer;
  transition: all 1000 ease;
  border-radius: 0.5rem;
  border: 0.2rem solid transparent;
}

.movie_card:hover {
  transform: translateY(-0.2rem);
}

.selected_movie_card {
  transform: translateY(-0.2rem) scale(1.05);
  border: 0.2rem solid #fff;
}

.article:hover > span {
  opacity: 1;
}
